*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #0019e9;
  color: #ffffff;
  font-size: 0.875rem;
}

.manifesto {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 1rem;
}

.logo {
  width: 150px;
  display: block;
  margin: 1.5rem;
}

p {
  text-transform: lowercase;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

footer a {
  color: #ffffff;
}

p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}
